<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
</head>
<body>
  <div id="app">
    <input type="checkbox" v-model="toggle"
      v-bind:true-value="a"
      v-bind:false-value="b">

    <input type="radio" v-model="pick" v-bind:value="a">
    
  </div>

  <script src="./js/vue.js"></script>
  <script src="./js/form.js"></script>
</body>
</html>